EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your_appwrite_project_id
EXPO_PUBLIC_APPWRITE_DATABASE_ID=your_database_id
EXPO_PUBLIC_APPWRITE_STORAGE_BUCKET_ID=your_storage_bucket_id
EXPO_PUBLIC_GROQ_API_KEY=your_groq_api_key_1
EXPO_PUBLIC_GROQ_API_KEY_2=your_groq_api_key_2
EXPO_PUBLIC_GROQ_API_KEY_3=your_groq_api_key_3
APPWRITE_API_KEY=your_appwrite_api_key
